[submodule "SerialPacketSimulator"]
	path = SerialPacketSimulator
	url = https://github.com/Mecapitronic/SerialPacketSimulator.git
[submodule "lib/ESP32_Helper"]
	path = lib/ESP32_Helper
	url = https://github.com/Mecapitronic/ESP32_Helper.git
